* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
html, body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}


.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
//页面过度动效
.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
